h1{
font-size: clamp(1.8rem, calc(7vw + 1.8rem), 6rem);


}



body{
    padding: min(5em, 8%);
    min-height: 777px;
    border: 10px solid rgb(255, 0, 0);
    gap: 33px;

    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;


}

.box{
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 333;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px; 
    
    background-color: black;
    font-size: 2rem;

    text-emphasis-color: white;
    color: aliceblue;
    justify-content: center;
    cursor: pointer;
    transition: 150ms ease;
    border-color: aqua;
    transition-property:width;
    transition-duration: 3343ms;
    transition-timing-function:cubic-bezier(.58,-0.57,.86,.01));
    transition-delay:150ms ;
    
}

.box:hover{
    width: 400px;
}
    
@keyframes spin {
    0%{

    }
    100%{
        transform:rotate(360deg);
        border-radius: 50%;
    }
}

}




